{% extends 'base/main.html' %}

{% block title %}{{ product.name }}{% endblock %}


{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center">
  <div class="col-md-6">
    <img
      class="card-img-top mb-5 mb-md-0"
      src="{{ product.image.url }}"
      alt="..."
    />
  </div>
  <div class="col-md-6">
    <div class="small mb-1">SKU: BST-498</div>
    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
    <div class="fs-5 mb-5">
      <span>${{ product.price }}</span>
    </div>
    <p class="lead">{{ product.description }}</p>
    <div class="d-flex">
      <input
        class="form-control text-center me-3"
        id="inputQuantity"
        type="num"
        value="1"
        name="quantity"
        style="max-width: 3rem"
      />
      <button
        class="btn btn-outline-dark flex-shrink-0 update-cart"
        type="button"
        data-product="{{ product.id }}"
        data-action="add"
      >
        <i class="bi-cart-fill me-1"></i>
        Add to cart
      </button>
    </div>
  </div>
</div>

<hr />

<h2 class="fw-bolder mb-4">Related products</h2>
<div
  class="
    row
    gx-4 gx-lg-5
    row-cols-2 row-cols-md-3 row-cols-xl-4
    justify-content-center
  "
>
  {% if related_products %} 
    {% for product in related_products %} 
      {% include 'base/parts/product_item.html' %}
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
