<div class="mb-5">
  <div class="card h-100">
    <a href="{% url 'product' product.category.slug product.slug %}">
      <img
        class="card-img-top"
        src="{{ product.image.url }}"
        alt="..."
      />
    </a>
    <div class="card-body p-4">
      <div class="text-center">
        <h5 class="fw-bolder"><a href="{% url 'product' product.category.slug product.slug %}" style="color: #212121;">{{ product.name }}</a></h5>
        <div class="d-flex justify-content-center small text-warning mb-2">
          {% include 'base/parts/avg_rating.html' %}
        </div>
      <h6>${{ product.price }}</h6>
      </div>
    </div>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <button class="btn btn-outline-dark mt-auto update-cart" data-product="{{ product.id }}"
        data-action="add">Add to cart</button>
      </div>
    </div>
  </div>
</div>